@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

* {
    box-sizing: content-box;
}

.main_seach {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 51px;
    display: flex;
    align-items: center;
}


.header_details_sam::-webkit-details-marker {
    display: none;
}

.header_details_sam::after {
    content: '\25BE';
}



.d_browse {
    list-style: none;
    border: solid 1px #e6e6e6;
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
    padding: 12px 6px 12px 12px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: #222222;
}

.text_logo_brand {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 37px;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    line-height: 1.19;
    letter-spacing: 0.68px;
    color: #222222;
}

.logo_text_d {
    font-weight: 900;
    color: #f16d7f;
}

.logo_header {
    width: 59px;
    height: 51px;
}

.seach_form_input_seach {
    height: 38px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
    width: 280px;
}

.seach_form_input_submit {
    width: 37px;
    height: 38px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
}

.seach_form {
    display: flex;
}

.header_basket {
    width: 32px;
    height: 29px;
    margin-left: 339px;
    margin-right: 29px;
}

.d_myacc {
    list-style: none;
    font-family: Lato;
    font-size: 15px;
    text-align: right;
    color: #ffffff;
    background-color: #f16d7f;
    padding: 12px 6px 12px 17px;
}

.line_header {
    border-top: solid 1px #e6e6e6;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.link_header {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 50px;
}

.ink_header:last-of-type {
    margin-right: 0;
}

.nav_menu {
    margin-top: 21px;
    margin-bottom: 21px;
}

.div_men {
    background-image: url(image/header_man.jpg);
    height: 613px;
    background-position: 150px -50px;
    position: relative;
}

.red_block {
    height: 92px;
    width: 12px;
    background-color: #f16d7f;
    position: absolute;
    top: 224px;
}

.textbrand {
    position: relative;
}

.textbrandin {
    position: absolute;
    left: 24px;
    top: 224px;
}

.textbrand_one {
    line-height: 0.7;
    margin: 0;
    font-family: Lato;
    font-weight: 900;
    color: #222222;
    font-size: 40px;
}

.textbrand_f {
    font-size: 60px;
}

.textbrand_t {
    line-height: 1.7;
}

.textbrand_l {
    color: #f16d7f;
    line-height: 1.7;
}

.text_union {
    display: flex;
}

.section_offer {
    margin-top: 98px;
}

.offer_position {
    display: flex;
}

.men_c {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}

.girl_child {
    display: flex;
    flex-direction: column;
}

.men_c_img2 {
    margin-top: 20px;
}

.girl_child_img4 {
    margin-top: 20px;
}

.div_img_offer {
    position: relative;
}

.offer_image_text {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    color: #222222;
    text-transform: uppercase;
}

.div_test_offer {
    position: absolute;
    top: 26px;
    padding: 20px 16px;
    background: #ffffff;
}

.text_abs_bot {
    font-size: 30px;
    color: #f16d7f;
}

.text_offer_2,
.text_offer_4 {
    top: 46px;
}